* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: aliceblue;
}

body {
   font-family:'Times New Roman';
   font-weight: bolder;
   font-size: 20px;
   background-color: antiquewhite;
}

h1 {
   font-family: 'Times New Roman', cursive;

   font-size: 3.5rem;
   font-weight: 400;
}

.main {
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.game {
   box-shadow: 10px 5px 15px rgb(188, 106, 106);
}

.game,
form {
   background-color: #1f0202;
   padding: 1.8rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.game>div {
   padding: 0.5rem;
}

.form input,
.form label,
.form button {
   margin-top: 1rem;
}

.form input,
.form button {
   font-size: inherit;
   font-family: inherit;
   padding: 0.5rem;
   color: #3b0404;
}

.form button {
   cursor: pointer;
   color: black;
}

.form button:hover {
   filter: opacity(0.8);
}

#nome{
   color: black;
}